body{
    min-height: 100vh;
    background: #F0F2F5;
}
.root,
.ant-layout{
    min-height: 100%;
    height: 100%;
}

.basic-layout{
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

// Overide
// Sobreescribiendo los estilos por defecto que vienen desde la libreria
.ant-layout-header{
    height: 50px;
    line-height: 50px;
}
