.login-form{
    max-width: 300px;
    &-button{
        width: 100%;
    }
    &-forgot{
        float: right;
    }
}

.login-layout{
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-align: center;
    }
    &__content{
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            max-height: 4rem;
        }
    }
    &__footer{
        margin-top: auto;
    }
}