.row {
    margin-bottom: 16px;
}

.row{
    .left{
        button{
            margin-right: 12px;
        }
    }
    .right{
        display: flex;
        justify-content: flex-end;
        button{
            margin-left: 12px;
        }
    }
}

.action__menu{
    min-width: 8rem;
    .icon{
        margin-right: 8px;
    }
}